.back-button {
    position: relative;
    background: none;
    border: 2px solid var(--text-primary);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-primary);
    font-family: Montserrat, sans-serif;
    transition: transform 0.2s ease;
}

.back-button:hover {
    transform: translateX(-5px);
    color: var(--brand-color);
}