/* ExCard.css */

.ex-card-container {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.ex-card {
  display: flex;
  align-items: center;
  background-color: #aaa; /* cinza como no fundo da imagem */
  padding: 16px;
  width: 90%;
  height: 8rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ex-card-image img {
  width: 10rem;
  height: 100px;
  object-fit: cover;
  background-color: #f2f2f2;
}

.ex-card-content {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  flex-grow: 1;
}

.ex-card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ex-card-header h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.ex-card-type {
  font-size: 1rem;
  color: #000;
}

.ex-card-desc {
  margin: 4px 0 8px;
  color: #111;
}

.like-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #000;
  transition: transform 0.2s ease;
}

.like-button:hover {
  transform: scale(1.05);
}

.like-button.liked {
  color: red;
}
