.hc-content {
display: flex;
align-items: center;
}
.hc-reverse {
flex-direction: row-reverse;
}
.hc-container {
    width: 100%;
    height: 300px;
    margin: 20px auto 70px auto;
    box-shadow: 0 4px 8px var(--shadow-color);
    overflow: hidden;
    background: linear-gradient(to left, var(--background-secondary), var(--background-tertiary));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hc-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--shadow-color);
    border: 2px var(--brand-color);
}
.hc-content {
padding: 20px;
display: flex;
width: 60%;
gap: 80px;
align-items: flex-start;
}
.hc-text-section {
flex: 1;
display: flex;
flex-direction: column;
}
.hc-title {
font-size: 28px;
color: var(--text-primary);
margin-bottom: 15px;
font-weight: 700;
font-family: Montserrat, sans-serif;
}
.hc-description {
font-size: 16px;
color: var(--text-primary);
margin-bottom: 20px;
line-height: 1.5;
font-family: Montserrat, sans-serif;
}
.hc-more-button {
color: black;
background-color: white;
border: none;
padding: 10px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
cursor: pointer;
transition: background-color 0.3s;
align-self: flex-start;
margin-top: auto;
font-family: Montserrat, sans-serif;
font-weight: 700;
border-radius: 5px;
}
.hc-more-button:hover {
color: var(--text-primary);
box-shadow: inset 0 0 0 3px var(--brand-color);
border-radius: 5px;
background: var(--background-primary);

}
.hc-image {
width: 300px;
height: 180px;
background-color: var(--background-secondary);
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
flex-shrink: 0;
}
