.ex-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--background-secondary);
}

.ex-card-container h1{
    font-size: 2.5rem;
    color: var(--text-primary);
    margin-bottom: 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.conteudo.esq{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 2rem 0;
}

.conteudo.dir{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 2rem 0;
}

.p{
    font-size: 1.2rem;
    color: var(--text-primary);
    margin-bottom: 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}